:root {
  font-size: 1em;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

button {
  display: none;
  position: fixed;
  left: calc(50% - 1.5rem);
  width: 3rem;
  bottom: 40px;
  z-index: 2;
  height: 3rem;
  background-color: #fff;
  outline: none;
  border: 1px solid #dadada;
  border-radius: 1.5rem;
  color: #000;
  font-weight: 600;
  box-shadow: 2px 2px 20px 0px #3a3a3a;
}

canvas {
  width: 100vw;
  height: 100vh;
}
